* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, rgba(250, 206, 175, 0.85),rgba(244, 92, 6, 0.75)), url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  color: #353535;
}

h1.title {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20% auto;
  font-family: 'Monoton', cursive;
}

#enter {
  font-weight: 700;
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  h1.title {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .animated.flip {
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  h1.title {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }  
}
